 $color1 : #FFD1E3;
 $color2 : #5BBCFF;
 $color3 : #FFFAB7;
 $color4 : #7EA1FF;
 $color5 : white;
 $color6 : #f0f0f0;
 $color7 : rgb(239, 70, 70);

 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 a {
     text-decoration: none;
     color: black;
 }

 li {
     text-decoration: none;
     list-style: none;
 }

 @import "./mixin.scss";

 .LoginContainer {
     width: 100%;
     min-height: 100vh;
     background-color: $color1;
     @include flex();
     align-items: center;
     justify-content: center;

     >main {
         @include flex();
         padding: 0.5rem;
         background-color: $color6;
         margin: 1rem;
         border-radius: 1rem;
         //  width: 100%;

         >img {
             border-radius: 1rem;
             width: 100%;
         }

         >form {
             @include flex(column);
             //  width: 30vw;
             //  min-height: 60vh;
             //  background-color: $color2;
             //  border-radius: 1rem;
             width: 100%;
             max-width: 400px;
             text-align: center;

             >div {
                 //  @include grid(2fr 1fr, 0rem);
                 //  width: 20vw;
                 //  align-items: center;
                 font-size: larger;

                 >label {
                     color: white;
                 }

                 >input,
                 >select {
                     //  font-size: large;
                     //  border: none;
                     //  background-color: $color2;
                     //  color: white;
                     //  border-bottom: 1px solid gray;
                     width: 300px;
                     padding: 10px;
                     border: 1px solid #ccc;
                     border-radius: 5px;
                 }

                 //  >select {
                 //      border: none;
                 //      //  background-color: $color3;
                 //      border-radius: 1rem;
                 //      padding-left: .5rem;
                 //  }

             }

             >p {
                 >span {
                     cursor: pointer;
                     color: #007bff;

                     //  text-decoration: underline black 1px;
                     &:hover {
                         color: rgb(41, 123, 150);
                     }
                 }
             }

             >button {
                 width: 300px;
                 padding: 10px;
                 background-color: #ff5a5f;
                 color: #ffffff;
                 border: none;
                 border-radius: 5px;
                 cursor: pointer;
                 margin-bottom: 20px;

                 &:hover {
                     background-color: #e04e4e;
                 }

             }
         }

     }

     @media screen and (max-width : 1400px) {
         overflow: scroll;



         >form {
             width: 500px;
             height: max-content;
             padding: 1rem 0rem;

             >div {
                 width: 300px;
             }
         }

     }

     @media screen and (max-width : 900px) {
         //  display: block;
         overflow: scroll;

         >main {
             @include flex(column);

             >img {
                 width: 100%;
                 height: 50vh;
             }

             >form {
                 width: 300px;
                 height: max-content;
                 padding: 1rem 0rem;

                 >div {
                     @include flex(column)
                 }
             }
         }
     }

     @media screen and (max-width : 500px) {
         //  display: block;
         overflow: scroll;
         //  height: auto;

         >main {
             @include flex(column);

             >img {
                 width: 100%;
                 height: 50vh;
             }

             >form {
                 width: 300px;
                 height: max-content;
                 padding: 1rem 0rem;

                 >div {
                     @include flex(column);

                     >input,
                     >select {
                         width: 300px;
                     }
                 }
             }
         }
     }
 }

 .NavBarContainer {
     //  position: sticky;
     //  bottom: 0;
     @include flex(row, space-between, center, 1rem);
     width: 100%;
     height: 10vh;
     background-color: $color7;
     padding: 1rem 3rem;
     color: whitesmoke;
     font-size: large;

     >div {
         >h2 {
             text-transform: uppercase;
         }
     }

     >div {
         @include flex(row, space-between, center, 0.5rem);

         >span {
             //  border: 1px solid black;
             min-height: 1.5rem;
             min-width: 1rem;
             @include flex();
             border-radius: 50%;
             padding: 1px;
             font-size: large;
             position: absolute;
             margin-left: 1.3rem;
             margin-top: 1.3rem;
             background-color: rgb(33, 33, 7);
             color: white;
         }

         >div {

             >div {
                 position: absolute;
                 margin-top: -0.3rem;
                 padding: 0.5rem;
                 padding-top: 0;


                 >dialog {
                     //  border: 1px solid black;
                     //  position: absolute;
                     //  margin-top: -1rem;
                     z-index: 2;
                     border: none;

                     >ul {
                         >li {
                             background-color: $color5;
                             cursor: pointer;
                             font-weight: 500;
                             padding: .3rem;
                             font-size: 1.1rem;

                             &:hover {
                                 color: rgb(117, 117, 157);
                                 font-weight: 700;
                             }
                         }
                     }
                 }
             }
         }
     }

     position: relative;
 }

 .sideBarContainer {
     padding: 1rem;
     border: 1px solid black;
     @include flex(column, center, flex-start);

     >h2 {
         font-weight: 500;
         color: rgb(172, 140, 140);
     }

     >form {
         @include flex(column, flex-start);
         //  height: 50vh;

         >div {
             @include flex(row);

             >label {
                 font-weight: 800;
                 font-size: large;
             }

             >select {
                 width: 10vw;
                 height: 5vh;
                 border-radius: 1rem;
                 padding: 0rem 1rem;
                 background-color: $color3;
                 border: 2px solid gray;
                 font-size: 1rem;

                 >option {
                     background-color: $color3;
                     align-items: center;

                 }
             }
         }

         >button {
             //  align-self: flex-end;
             width: 10vw;
             height: 5vh;
             background-color: $color4;
             border-radius: .5rem;
         }
     }
 }

 .HomeContainer {
     @include flex(column);
     background-color: $color1;
     min-height: 100vh;
     padding-bottom: 3rem;
     width: 100%;
 }

 .ProductContainer {
     //  background-color: $color1;
     width: 90vw;
     min-height: 80vh;
     //  background-color: $color5;

     @include grid(1fr 4fr, 2rem);

     >aside {
         background-color: $color5;
         border-radius: 1rem;
         padding: 1.5rem;

         >div {

             >h2 {
                 font-weight: 400;
                 color: lightpink;
                 padding-bottom: 1rem;
             }

             >div {
                 @include flex(column, center, flex-start, 0.5rem);

                 >ul {
                     max-height: 60vh;
                     width: 100%;
                     background-color: whitesmoke;
                     overflow-x: scroll;
                     padding: 0.5rem;
                     border-radius: 1rem;

                     &::-webkit-scrollbar {
                         display: none;
                     }

                     >li {
                         font-size: large;
                         padding-bottom: 0.5rem;
                         cursor: pointer;

                         &:hover {
                             scale: 1.01;
                             color: white;
                             font-weight: 600;
                             background-color: #7EA1FF;
                         }
                     }
                 }
             }

             >div {
                 padding: 1rem;

                 >label {
                     font-size: large;
                     font-weight: 700;
                 }

                 >div {
                     @include flex();

                     >button {
                         width: 4.5rem;
                         height: 2rem;
                         font-size: 1rem;
                         background-color: whitesmoke;
                         border-radius: .5rem;
                         cursor: pointer;
                     }
                 }

             }

             >button {
                 //  justify-self: center;
                 background-color: $color7;
                 margin-left: 8vh;
                 height: 2rem;
                 padding: .5rem;
                 border: none;
                 border-radius: .5rem;

                 &:hover {
                     scale: 1.05;
                     cursor: pointer;
                 }
             }

         }
     }

     >main {
         >h2 {
             align-self: flex-start;
             padding-left: 2rem;
         }

         background-color: $color5;
         flex: 4;
         border-radius: 1rem;
         //  min-height: 100vh;
         @include flex(column, flex-start);
         padding: 1rem;



         >div {
             @include grid(1fr 1fr 1fr 1fr, 1rem);
         }


     }

     @media screen and (max-width : 1190px) {
         @include flex(column);

         >aside {
             width: 100%;

             >div {
                 >div {
                     >ul {
                         max-height: 20vh;
                     }
                 }


             }
         }

         >main {
             width: 100%;

             >div {

                 @include grid(1fr 1fr 1fr, 1rem);
             }

         }
     }

     @media screen and (max-width : 500px) {
         >main {
             >div {
                 @include flex(column);
             }
         }
     }
 }

 .PaginationBox {
     //  width: 70%;
     position: relative;
     @include flex(row, center, center);

     >button {
         height: 2rem;
         width: 2.5rem;
         border: none;
         border-radius: .5rem;
         cursor: pointer;
         font-size: medium;

     }
 }

 .PaginationBox2 {
     width: 70%;
     position: relative;
     @include flex(row, center, center);

     >button {
         height: 2rem;
         width: 2.5rem;
         border: none;
         border-radius: .5rem;
         cursor: pointer;
         font-size: medium;

     }
 }

 .ProductCardContainer {

     display: flex;
     flex-direction: column;
     background-color: #fff;
     border-radius: 8px;
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
     overflow: hidden;
     cursor: pointer;
     transition: transform 0.3s, box-shadow 0.3s;

     &:hover {
         transform: translateY(-5px);
         box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
     }

     >img {
         width: 100%;
         height: auto;
         object-fit: cover;
     }

     >div {
         padding: 16px;

         h3 {
             font-size: 1.25rem;
             margin: 0 0 8px;
             color: #333;
         }

         >div {
             display: flex;
             justify-content: space-between;
             align-items: center;
             font-size: 1rem;
             color: #555;

             .product-price {
                 font-weight: bold;
                 color: #ff5722;
             }

             .product-ratings {
                 display: flex;
                 justify-content: center;
                 align-items: center;

                 .filled-star,
                 .empty-star {
                     font-size: 1rem;
                     color: #ffa41c;
                 }

                 .empty-star {
                     color: #ccc;
                 }
             }
         }
     }
 }

 .SliderContainer {
     @include flex(row, center, center, 0);
     background-color: transparent;

     >main {
         @include flex(column, center, center, 0);

         background-color: transparent;


         >div {
             background-color: transparent;
             padding-top: 1.2rem;
             cursor: pointer;
             height: 5rem;
             width: 5rem;
             background-color: white;
             //  @include flex();

             >img {
                 height: 5rem;
                 width: 5rem;
                 object-fit: contain;
                 //  background-color: white;

                 &:hover {
                     border: solid 1px gray;
                 }
             }

         }
     }

     >aside {
         padding: 1rem;

         >img {
             height: 400px;
             width: 400px;
         }
     }

     @media screen and (max-width : 500px) {
         //  @include flex(reverse-row);
         //  width: 100%;
         overflow: hidden;

         >main {
             @include flex();

         }

         >aside {
             width: 300px;
         }
     }
 }

 .ProductDescriptionContainer {
     @include flex();
     //  gap: 20px;
     padding: 20px;
     background-color: $color1;
     border-radius: 8px;
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

     aside {

         background-color: white;

     }

     main {

         @include flex(column, start, center, 0);
         min-height: 500px;
         background-color: white;
         border-radius: 0.5rem;
         padding: 20px;
         box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

         .product-info {
             display: flex;
             flex-direction: column;
             gap: 0.8rem;

             h2 {
                 font-size: 1.5rem;
                 color: #333;
                 margin-bottom: 10px;
             }

             p {
                 font-size: 1rem;
                 color: #777;
                 margin-bottom: 20px;
             }

             .product-meta {
                 display: flex;
                 gap: 10px;
                 flex-wrap: wrap;

                 .category,
                 .unavailable,
                 .ratings,
                 .price {
                     padding: 5px 10px;
                     border-radius: 4px;
                     font-size: 0.875rem;
                 }

                 .category {
                     background-color: #e0e0e0;
                 }

                 .unavailable {
                     background-color: orange;
                     color: #fff;
                 }

                 .product-ratings {
                     display: flex;
                     justify-content: center;
                     align-items: center;

                     .filled-star,
                     .empty-star {
                         font-size: 1rem;
                         color: #ffa41c;
                     }

                     .empty-star {
                         color: #ccc;
                     }
                 }

                 .price {
                     background-color: lightgreen;
                     color: #fff;
                 }
             }

             .quantity-controls {
                 display: flex;
                 align-items: center;
                 gap: 10px;
                 margin-top: 20px;

                 button {
                     height: 2rem;
                     width: 2rem;
                     background-color: blueviolet;
                     color: #fff;
                     border: none;
                     font-size: 1rem;
                     display: flex;
                     justify-content: center;
                     align-items: center;
                     border-radius: 4px;
                     cursor: pointer;
                     transition: background-color 0.3s;

                     &:disabled {
                         background-color: #ccc;
                         cursor: not-allowed;
                     }
                 }

                 .quantity {
                     font-size: 1rem;
                     padding: 0 10px;
                 }
             }

             .add-to-cart {
                 margin-top: 20px;
                 padding: 10px 20px;
                 background-color: $color7;
                 color: #fff;
                 border: none;
                 border-radius: 4px;
                 cursor: pointer;
                 transition: background-color 0.3s;
                 width: max-content;

                 &:hover {
                     background-color: #3700b3;
                 }
             }
         }
     }

     @media screen and (max-width : 900px) {
         @include flex(column);

         >main {
             width: 550px;
         }
     }

     @media screen and (max-width : 500px) {
         @include flex(column);
         //  width: 100%;
         overflow: hidden;

         >main {
             width: 300px;
         }
     }
 }

 .ReviewContainer {
     //  width: 100%;
     background-color: $color1;
     //  border-radius: 8px;
     padding: 20px;
     //  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
     width: 100%;
     @include flex(column);

     >div {
         width: 90%;

         h2 {
             font-size: 1.5rem;
             color: #333;
             margin-bottom: 20px;
         }

         .CreateReviewBox {
             background-color: #fff;
             padding: 20px;
             border-radius: 8px;
             box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
             margin-bottom: 20px;

             form {
                 display: flex;
                 flex-direction: column;
                 gap: 10px;

                 input,
                 select {
                     padding: 10px;
                     border: 1px solid #ddd;
                     border-radius: 4px;
                     font-size: 1rem;
                 }

                 button {
                     background: none;
                     border: none;
                     cursor: pointer;
                     align-self: flex-end;
                 }
             }
         }

         main {
             .ReviewItem {
                 background-color: #fff;
                 padding: 20px;
                 border-radius: 8px;
                 box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                 margin-bottom: 20px;

                 h3 {
                     font-size: 1.2rem;
                     color: #333;
                     margin-bottom: 10px;
                 }

                 .ReviewContent {
                     display: flex;
                     justify-content: space-between;
                     align-items: center;

                     p {
                         font-size: 1rem;
                         color: #666;
                         margin: 0;
                     }

                     .ReviewActions {
                         @include flex(column);

                         .product-ratings {
                             display: flex;
                             justify-content: center;
                             align-items: center;

                             .filled-star,
                             .empty-star {
                                 font-size: 1rem;
                                 color: #ffa41c;
                             }

                             .empty-star {
                                 color: #ccc;
                             }
                         }

                         svg {
                             cursor: pointer;
                             transition: color 0.3s;

                             &:hover {
                                 color: red;
                             }
                         }
                     }
                 }
             }
         }
     }
 }


 .CartContainer {
     @include flex(column);
     background-color: $color1;
     min-height: 100vh;

     >div {
         @include flex();
         padding: 2rem;
     }

     >table {
         margin: 2rem;
         width: 80vw;
         min-height: 30vh;
         //  max-height: 50vh;
         //  overflow: hidden;
         background-color: $color5;
         font-size: large;
         border-radius: 1rem;
         padding: 1rem;

         >span {
             @include flex(column);

             >p {
                 color: gray;
                 font-size: medium;
             }

             //  align-self: center;
         }

         >thead {
             height: 5vh;
             background-color: $color4;
             color: whitesmoke;
         }

         >tbody {
             >tr {
                 //  padding: 1rem;

                 >td {
                     padding: 0.5rem 0rem;
                     padding-left: 3rem;

                     >img {

                         height: 5rem;
                     }

                     >button {
                         height: 2rem;
                         width: 2rem;
                         background-color: red;
                         cursor: pointer;
                         border-radius: 1rem;

                         &:hover {
                             scale: 1.1;
                         }
                     }
                 }
             }
         }

         >tfoot {
             >tr {
                 //  @include flex(row, space-between, center, 0rem);

                 >td {

                     //  justify-content: flex-end;
                     padding-left: 2rem;


                 }

             }


         }

     }

     >div {
         >button {
             height: 8vh;
             width: 15vw;
             background-color: $color4;
             border: none;
             border-radius: 1rem;
             font-size: large;
             color: whitesmoke;

             &:hover {
                 scale: 1.1;
                 cursor: pointer;
             }
         }
     }

     //  @media screen and (max-width : 500px) {
     //      width: 100%;
     //      @include flex(column);
     //      height: 100%;


     //  }
 }


 .PlaceOrderContainer {
     background-color: $color1;
     width: 100vw;
     min-height: 100vh;
     @include grid(2fr 3fr);
     align-items: center;
     justify-items: center;
     overflow: hidden;


     >aside {

         background-color: #f9f9f9;
         border-radius: 8px;
         padding: 30px;
         width: 70%;
         height: max-content;
         margin: auto;
         box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

         >h2 {
             text-align: center;
             margin-bottom: 20px;
             color: #333;
             font-size: 1.8rem;
         }

         >form {
             display: flex;
             flex-direction: column;
             gap: 20px;

             >div {
                 display: flex;
                 flex-direction: column;
                 gap: 5px;

                 >label {
                     font-size: 1rem;
                     color: #666;
                 }

                 >input {
                     padding: 10px;
                     border: 1px solid #ddd;
                     border-radius: 4px;
                     font-size: 1rem;
                     transition: border-color 0.3s;

                     &:focus {
                         border-color: #007bff;
                         outline: none;
                     }
                 }
             }

             >button {
                 background-color: $color7;
                 color: #fff;
                 padding: 15px;
                 border: none;
                 border-radius: 4px;
                 font-size: 1.2rem;
                 cursor: pointer;
                 transition: background-color 0.3s;

                 &:hover {
                     background-color: #0056b3;
                 }
             }
         }


     }

     >main {


         >h2 {
             color: gray;
             padding: 0rem 5rem;
         }

         >table {

             margin: 2rem;
             width: 50vw;
             min-height: 30vh;
             //  max-height: 50vh;
             //  overflow: hidden;
             background-color: $color5;
             font-size: large;
             border-radius: 1rem;
             padding: 1rem;


             >tbody {

                 >tr {
                     //  padding: 1rem;

                     >td {
                         padding: 0.5rem 0rem;
                         padding-left: 3rem;

                         >img {

                             height: 5rem;
                         }

                         >button {
                             height: 2rem;
                             width: 2rem;
                             background-color: red;
                             cursor: pointer;
                             border-radius: 1rem;

                             &:hover {
                                 scale: 1.1;
                             }
                         }
                     }

                 }

             }



             >tfoot {
                 >tr {
                     //  @include flex(row, space-between, center, 0rem);

                     >td {
                         padding: 0.5rem 0rem;
                         padding-left: 3rem;
                         //  justify-content: flex-end;
                         padding-left: 2rem;


                     }

                 }


             }

         }
     }

     @media screen and (max-width : 1000px) {

         width: 100vw;
         min-height: 100vh;
         @include flex(column);
         //  overflow: scroll;

         >main {
             @include flex(column);
             width: 100%;

             >table {
                 width: max-content;
                 display: block;
                 width: 80%;
                 //  margin: 1rem;
             }
         }
     }
 }


 .MyOrderContainer {
     background-color: $color1;
     width: 100vw;
     min-height: 100vh;

     >main {
         @include flex(column);

         >h2 {
             @include flex();
             padding: 2rem;
         }


         >table {
             background-color: whitesmoke;
             //  min-height: 50vh;
         }

         //  >table {
         //      @include flex();

         //      >tbody {
         //          @include flex(column);
         //          width: 60vw;
         //          min-height: 30vh;
         //          padding: 3rem;
         //          background-color: $color5;
         //          border-radius: 1rem;
         //          //  overflow: scroll;

         //          //  &::-webkit-scrollbar {
         //          //      display: hidden;
         //          //  }

         //          >tr {
         //              @include grid(1fr 1fr 1fr, 12rem);


         //          }
         //      }
         //  }
     }

     @media screen and (max-width : 500px) {
         width: 100%;

         //  height: max-content;
         >main {


             >table {
                 //  padding: 1rem;
                 overflow: scroll;
                 display: block;
             }
         }
     }
 }

 .SearchBox {

     >div {

         @include flex(row, center, center, 0rem);

         >input {
             min-width: 1rem;
             height: 2.5rem;
             border-radius: 1rem;
             padding: 0.5rem;
             //  width: 5rem;
             //  @include flex();
         }
     }

 }

 .UserProfileImageOption {

     padding-left: 4rem;

     .personal-image {
         text-align: center;
     }

     .personal-image input[type="file"] {
         display: none;
     }

     .personal-figure {
         position: relative;
         width: 120px;
         height: 120px;
     }

     .personal-avatar {
         cursor: pointer;
         width: 120px;
         height: 120px;
         box-sizing: border-box;
         border-radius: 100%;
         border: 2px solid transparent;
         box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
         transition: all ease-in-out 0.3s;
     }

     .personal-avatar:hover {
         box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
     }

     .personal-figcaption {
         cursor: pointer;
         position: absolute;
         top: 0px;
         width: inherit;
         height: inherit;
         border-radius: 100%;
         opacity: 0;
         background-color: rgba(0, 0, 0, 0);
         transition: all ease-in-out 0.3s;
     }

     .personal-figcaption:hover {
         opacity: 1;
         background-color: rgba(0, 0, 0, 0.5);
     }

     .personal-figcaption>img {
         margin-top: 32.5px;
         width: 50px;
         height: 50px;
     }

 }

 //  .table-container {
 //      max-width: 70vw; // Adjust as needed
 //      margin: 0 auto;

 //      table {
 //          width: 100%;
 //          border-collapse: collapse;

 //          th,
 //          td {
 //              border: 1px solid #ccc;
 //              padding: 8px;
 //              text-align: center;
 //          }

 //          th {
 //              background-color: #f2f2f2;
 //          }

 //          tr:nth-child(even) {
 //              background-color: #f2f2f2;
 //          }

 //          tr:hover {
 //              background-color: #ddd;
 //          }
 //      }
 //  }







 .TableStyle {
     min-width: 100%;

     >thead {
         >th {
             color: white;
             background-color: $color7;
         }
     }

     >tbody {
         >tr {
             &:nth-child(even) {
                 background-color: rgb(232, 226, 226)
             }
         }
     }

     //  width: 70vw;
     border-collapse: collapse;
     border-spacing: 0;
     margin-bottom: 3rem;


     >tfoot {

         >div {
             position: absolute;
             //  background-color: $color5;
             //  width: 70vw;
             @include flex();
             padding: 2rem;

             >button {
                 height: 2rem;
                 width: 2rem;
                 border-radius: 50%;
                 border: none;
                 cursor: pointer;

                 &:hover {
                     scale: 1.05;
                 }


             }
         }
     }
 }

 th,
 td {
     >img {
         width: 5rem;
         height: 5rem;
     }

     padding: 10px;
     text-align: left;
     border-bottom: 1px solid #ddd;
 }

 th {
     background-color: #f2f2f2;
 }


 @media screen and (max-width: 800px) {

     /* Make table responsive */
     table {
         display: block;
         overflow-x: auto;
     }

 }


 .cardsContainer {
     width: 80%;
     //  @include grid(1fr 1fr 1fr 1fr);
     @include flex();

     @media screen and (max-width : 2500px) {
         @include flex(row, flex-start);
     }

     @media screen and (max-width : 1200px) {
         @include flex(column, );
         width: 100%;

     }
 }



 .CardContainer {
     border-radius: 8px;
     box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
     background-color: #ffffff;
     padding: 2rem;
     transition: all 0.3s ease;

     &:hover {
         transform: translateY(-5px);
         box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
     }

     height: 13rem;
     width: 22vw;
     border-radius: 1rem;
     font-size: larger;
     background-color: $color3;
     //  cursor: pointer;
     @include flex(column);

     @media screen and (max-width : 1200px) {
         width: 100%;

     }
 }


 //chats styles
 .ChartContainer {
     //  height: 100%;
     background-color: $color5;
     width: fit-content;
     padding: 1rem;
     border-radius: 1rem;
     @include flex();
     //  margin: 3rem;

     @media screen and (max-width : 1200px) {
         align-items: flex-start;
     }

     @media screen and (max-width : 400px) {
         width: 60%;

     }
 }



 .form-container {
     max-width: 500px;
     margin: 0 auto;
     padding: 20px;
     border: 1px solid #ccc;
     border-radius: 5px;

     h2 {
         text-align: center;
         margin-bottom: 20px;
     }

     .form-group {
         margin-bottom: 20px;

         label {
             display: block;
             font-weight: bold;
             margin-bottom: 5px;
         }

         input[type='text'],
         input[type='number'],
         input[type='file'] {
             width: 100%;
             padding: 10px;
             font-size: 16px;
             border: 1px solid #ccc;
             border-radius: 5px;
         }
     }

     button {
         display: block;
         width: 100%;
         padding: 10px;
         background-color: $color7;
         color: #fff;
         border: none;
         border-radius: 5px;
         font-size: 16px;
         cursor: pointer;
         transition: background-color 0.3s;

         &:hover {
             background-color: #0056b3;
         }
     }
 }


 .bannerContainer {

     margin-top: -1rem;
     width: 100%;

     .image-banner {
         position: relative;
         width: 100%;
         height: 85vh;

     }

     .image {
         width: 100%;
         height: 100%;
         background-size: cover;
         background-position: center;
         position: relative;

         >img {
             //  margin-top: 5rem;
             width: 100%;
         }
     }

     .overlay {
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         background-color: rgba(0, 0, 0, 0.5);

     }

     .content {
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
         text-align: center;
         color: #fff;
         z-index: 1;
     }

     h2 {
         font-size: 36px;
         margin-bottom: 20px;
     }

     p {
         font-size: 18px;
         margin-bottom: 30px;
     }

     .button {
         display: inline-block;
         background-color: #007bff;
         color: #fff;
         padding: 12px 30px;
         font-size: 16px;
         text-decoration: none;
         border-radius: 5px;
         transition: background-color 0.3s;
     }

     .button:hover {
         background-color: #0056b3;
     }


     @media screen and (max-width: 768px) {
         .image-banner {
             height: 80vh;

         }

         h2 {
             font-size: 28px;

         }

         p {
             font-size: 16px;

         }

         .button {
             padding: 10px 20px;

         }

     }

 }


 .AdminCardContainer {
     @include flex(column);
     background-color: $color5;

     padding: 3rem;
     width: 15%;
     border-radius: 1rem;
     box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
     transition: all 0.3s ease;

     &:hover {
         transform: translateY(-5px);
         box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
     }

     >img {
         height: 5rem;
         width: 5rem;
         border-radius: 3rem;
     }

     >span {
         color: gray;
     }

     @media screen and (max-width : 1200px) {
         width: 100%;

     }
 }

 .AdminContainer {
     background-color: $color1;
     //  margin: 1rem;
     padding: 2rem;
     //  border-radius: 1rem;
     min-height: 100vh;
     width: 100%;


     //  overflow: scroll;
     @include flex(row, flex-start, flex-start, 1rem);

     >aside {
         background-color: $color4;
         padding: 2rem;
         border-radius: .5rem;
         @include flex(column, flex-start, flex-start, 2rem);
         //  max-height: 100%;

         img {
             height: 5rem;
             width: 5rem;
             border-radius: 1rem;
         }

         >li {
             background-color: $color5;
             padding: 1rem;
             //  width: 100%;
             box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
             border-radius: .5rem;
             font-size: large;
             //  color: white;
             cursor: pointer;
             @include flex(row, flex-start);

             &:hover {
                 background-color: $color3;
                 scale: 1.1;
                 transition-duration: 200ms;
                 box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
             }

         }
     }

     >main {
         .product-ratings {
             display: flex;
             justify-content: center;
             align-items: center;

             .filled-star,
             .empty-star {
                 font-size: 1rem;
                 color: #ffa41c;
             }

             .empty-star {
                 color: #ccc;
             }
         }

         background-color: whitesmoke;
         border-radius: 0.5rem;
         min-height: 100vh;
         min-width: 85%;
         //  overflow: hidden;

         @include flex(column, flex-start, flex-start, 1rem);
         padding: 2rem;

         .row {
             width: 100%;
             //  max-width: 90%;
             @include flex(row);
             //  background-color: yellow;
         }


     }

     @media screen and (max-width : 1400px) {
         @include flex(column);
         overflow: scroll;

         >aside {
             overflow: scroll;
             width: 100%;
             padding: 1rem;
             @include flex(row, flex-start);
         }

         >main {
             width: 100%;
         }
     }

     @media screen and (max-width : 1200px) {


         >main {
             width: 100%;

             .row {
                 @include flex(column);
                 width: 100%;
                 overflow: scroll;
             }
         }
     }
 }


 .Bar-chart-container {
     position: relative;
     height: 400px;
     width: 100%;
     //  max-width: 800px;
     margin: 0 auto;
     padding: 20px;
     background: #fff;
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
     border-radius: 8px;
 }

 .Pie-chart-container {
     position: relative;
     height: 400px;
     width: fit-content;
     //  max-width: 800px;
     margin: 0 auto;
     padding: 20px;
     background: #fff;
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
     border-radius: 8px;
 }

 .HorizontalBar-chart-container {
     position: relative;
     height: 100vh;
     padding: 1rem 0rem;
     width: 100%;
     //  max-width: 800px;
     margin: 0 auto;
     padding: 2rem;
     background: #fff;
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
     border-radius: 8px;

     @media (max-width: 768px) {
         height: 300px;
         padding: 10px;
     }

     @media (max-width: 480px) {
         height: 250px;
         padding: 5px;
     }
 }


 //  // src/components/TableComponent.scss
 //  .table {
 //      width: 100%;
 //      border-collapse: collapse;
 //      font-family: 'Arial, sans-serif';
 //      margin: 20px 0;
 //      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);


 //      thead {
 //          color: white;

 //          .table-row {
 //              display: flex;
 //              justify-content: space-between;

 //              .table-header {
 //                  background-color: $color7;
 //                  padding: 10px;
 //                  font-weight: bold;
 //                  text-align: left;
 //                  flex: 1;

 //                  &:first-child {
 //                      flex: 0 0 8rem; // Adjust based on the image size
 //                  }
 //              }
 //          }
 //      }

 //      tbody {
 //          .table-row {
 //              display: flex;
 //              justify-content: space-between;
 //              align-items: center;

 //              &:nth-child(even) {
 //                  background-color: #f2f2f2;
 //              }

 //              .table-cell {
 //                  padding: 1rem;
 //                  //  padding: 10px;
 //                  text-align: left;
 //                  flex: 1;
 //                  //  height: fit-content;

 //                  &:first-child {
 //                      flex: 0 0 8rem; // Adjust based on the image size

 //                      img {
 //                          width: 5rem;
 //                          height: 5rem;
 //                          border-radius: 4px;
 //                      }
 //                  }
 //              }
 //          }
 //      }

 //      @media (max-width: 768px) {
 //          thead {
 //              .table-row {
 //                  .table-header {
 //                      font-size: 12px;
 //                      padding: 8px;
 //                  }
 //              }
 //          }

 //          tbody {
 //              .table-row {
 //                  .table-cell {
 //                      font-size: 12px;
 //                      padding: 8px;
 //                  }
 //              }
 //          }
 //      }

 //      @media (max-width: 480px) {

 //          thead,
 //          tbody {
 //              display: block;

 //              .table-row {
 //                  display: block;

 //                  .table-header,
 //                  .table-cell {
 //                      display: block;
 //                      width: 100%;
 //                      text-align: right;
 //                      padding: 10px;
 //                      box-sizing: border-box;

 //                      &:before {
 //                          content: attr(data-label);
 //                          float: left;
 //                          font-weight: bold;
 //                          text-transform: uppercase;
 //                      }
 //                  }
 //              }
 //          }
 //      }
 //  }

 // src/components/TableComponent.scss
 .table {
     width: 100%;
     border-collapse: collapse;
     font-family: 'Arial, sans-serif';
     margin: 20px 0;
     box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

     thead {
         background-color: #4CAF50;
         color: white;

         .table-row {
             display: flex;
             justify-content: space-between;

             .table-header {
                 padding: 10px;
                 font-weight: bold;
                 text-align: left;
                 flex: 1;
                 cursor: pointer;

                 &:first-child {
                     flex: 0 0 50px; // Adjust based on the image size
                 }
             }
         }
     }

     tbody {
         .table-row {
             display: flex;
             justify-content: space-between;

             &:nth-child(even) {
                 background-color: #f2f2f2;
             }

             .table-cell {
                 padding: 10px;
                 text-align: left;
                 flex: 1;

                 &:first-child {
                     flex: 0 0 50px; // Adjust based on the image size

                     img {
                         width: 100%;
                         height: auto;
                         border-radius: 4px;
                     }
                 }
             }
         }
     }

     @media (max-width: 768px) {
         thead {
             .table-row {
                 .table-header {
                     font-size: 12px;
                     padding: 8px;
                 }
             }
         }

         tbody {
             .table-row {
                 .table-cell {
                     font-size: 12px;
                     padding: 8px;
                 }
             }
         }
     }

     @media (max-width: 480px) {

         thead,
         tbody {
             display: block;

             .table-row {
                 display: block;

                 .table-header,
                 .table-cell {
                     display: block;
                     width: 100%;
                     text-align: right;
                     padding: 10px;
                     box-sizing: border-box;

                     &:before {
                         content: attr(data-label);
                         float: left;
                         font-weight: bold;
                         text-transform: uppercase;
                     }
                 }
             }
         }
     }
 }

 .pagination {
     padding: 10px;
     display: flex;
     justify-content: space-between;
     align-items: center;

     button {
         padding: 5px 10px;
         margin: 0 5px;
         background-color: #4CAF50;
         color: white;
         border: none;
         cursor: pointer;
         border-radius: 4px;

         &:disabled {
             background-color: #ccc;
             cursor: not-allowed;
         }
     }

     select {
         padding: 5px;
         border: 1px solid #ccc;
         border-radius: 4px;
     }
 }